<!-- =========================================================================================
    File Name: Login.vue
    Description: Login Page
    ----------------------------------------------------------------------------------------
    Item Name: Vuesax Admin - VueJS Dashboard Admin Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div class="h-screen flex w-full bg-img vx-row no-gutter items-center justify-center" id="page-login">
        <div class="vx-col sm:w-1/2 md:w-1/2 lg:w-3/4 xl:w-3/5 sm:m-0 m-4">
            <vx-card>
                <div slot="no-body" class="full-page-bg-color">
                    <div class="vx-row no-gutter justify-center items-center">
                        <div class="vx-col hidden lg:block lg:w-1/2">
                            <img src="@/assets/images/pages/login.png" alt="login" class="mx-auto">
                        </div>
                        <div class="vx-col sm:w-full md:w-full lg:w-1/2 d-theme-dark-bg">
                            <div class="p-8">
                                <div class="vx-card__title mb-8">
                                    <h4 class="mb-4">Login</h4>
                                    <p>Welcome back, please login to your account.</p>
                                </div>
                                <vs-input
                                    icon="icon icon-user"
                                    icon-pack="feather"
                                    label-placeholder="Username"
                                    v-model="username"
                                    class="w-full no-icon-border"/>

                                <vs-input
                                    type="password"
                                    icon="icon icon-lock"
                                    icon-pack="feather"
                                    label-placeholder="Password"
                                    v-model="password"
                                    class="w-full mt-6 no-icon-border" 
                                    @keyup="keyEnter"/>

                                <div class="flex flex-wrap justify-between my-5">
                                    <vs-checkbox v-model="checkbox_remember_me" class="mb-3">Remember Me</vs-checkbox>
                                    <router-link to="#">Forgot Password?</router-link>
                                    <p class="text-left mt-3 mb-5"><small v-if="err != ''" class="text-danger">* {{ err }}</small></p>
                                    <vs-button v-on:click="saveForm" class="float-right">Login</vs-button>
                                </div>

                                <!-- <vs-button type="border">Register</vs-button> -->
                                

                                

                                

                            </div>
                        </div>
                    </div>
                </div>
            </vx-card>
        </div>
    </div>
</template>

<script>
    import { mapActions } from 'vuex';


   // import Router from '../router'
export default {
    data() {
        return {
            isLoading:false,
            username: '',
            password: '',
            checkbox_remember_me: false,
            err: '',
        }
    },
    watch: {
        isLoading: function(){
          if(this.isLoading){
              this.$vs.loading()
          }
          else{
              this.$vs.loading.close()
          }
        }
  },
    methods:{
//         ...mapActions([ 'setUserState' ]),
//         saveForm(){
//             this.err = '';
//             this.isLoading = true ;
//             if(this.username == ''){
//                 setTimeout(() => {
//                     this.isLoading = false
//                     this.err = "Username required";
//                 }, 500)
//                 return;
//             }
//             if(this.password == ''){
//                 setTimeout(() => {
//                     this.isLoading = false
//                     this.err = "Password required";
//                 }, 500)
//                 return;
//             }
//             this.$http.post('login/',{
//                 username: this.username,
//                 password: this.password,

//             }).then((response) => {
//                 // 
//                 // this.$router.push('home')
//                 this.setUserState(response.token)
//                 this.$router.replace('')
//                 let token = response.token;
//                 localStorage.setItem('token',token)
                
//             });
//         }
    
// }
// }
        
         ...mapActions([ 'setUserState' ]),
        saveForm(){
            this.err = '';
            this.isLoading = true ;
            if(this.username == ''){
                setTimeout(() => {
                    this.isLoading = false
                    this.err = "Username required";
                }, 500)
                return;
            }
            if(this.password == ''){
                setTimeout(() => {
                    this.isLoading = false
                    this.err = "Password required";
                }, 500)
                return;
            }
            this.$http.post('api/token/', {username:this.username, password:this.password})
            .then((resp) => {
                // let rstr = JSON.stringify(resp.data);
                // localStorage.setItem('wms_daccess', rstr);
                // this.$http.defaults.headers.common['token'] = resp.data.token;
                this.isLoading = false
                // console.log(resp)
                this.setUserState(resp.data)
                this.$router.replace('/')
                this.$http.defaults.headers.common['Authorization'] = 'Bearer '+this.$store.state.user.access
            })
            .catch((resp) =>{
                if(resp.response.status == 500 || resp.response.status == 400 || resp.response.status == 401){
                    this.isLoading = false ;
                    this.err = 'Username or Password incorrect'
                    console.log(resp)
                } 
                // else{
                    
                // }
            });
        },
        keyEnter: function(e){
            if (e.keyCode === 13) {
                this.saveForm();
            }
        },
    },
    mounted(){
        if(this.isLoading){
            this.$vs.loading()
         }
         let user = localStorage.getItem('access');
         if(user != null){
            this.$router.replace('/');
         }
    }
    
    }

</script>

<style lang="scss">
#page-login {
    .social-login {
        .bg-facebook {
          background-color: #1551b1;
        }
        .bg-twitter {
          background-color: #00aaff;
        }
        .bg-google {
          background-color: #4285F4;
        }
        .bg-github {
          background-color: #333;
        }
    }
}
</style>
