<template>
      <div>
            <div>
                <vs-button @click="popupActive=true" color="primary" type="border">Search</vs-button>

                <vs-popup class="holamundo" title="Search" :active.sync="popupActive">
                   
                    <v-select class="inputx" size="small" :options="['Tokopedia','Shopee']" v-model="marketplace"></v-select>
                    <vs-row >
                        <vs-input size="small" class="inputx mt-3" placeholder="Schedule ID" v-model="scheduleid" />
                        <vs-input size="small" class="inputx mt-3 ml-4" placeholder="Product ID" v-model="productid" />
                        <vs-button class="mt-3 ml-4" color = "primary" type="filled" @click="searchMarket" >Submit</vs-button>
                    </vs-row>
                   
                  
                </vs-popup>
                
                  <vue-apex-charts type="area" height="350" :options="lineAreaChartSpline.chartOptions" :series="lineAreaChartSpline.series"></vue-apex-charts>   
            </div>
            <div>
                 <vs-table pagination max-items="50" :total="40" v-model="selected" :max="13"  search :data="table">

    <template slot="thead">
      <vs-th sort-key="id">ID</vs-th>
      <vs-th sort-key="name">Name</vs-th>
      <vs-th sort-key="price">Price</vs-th>
      <vs-th sort-key="url">URL</vs-th>
    </template>

    <template slot-scope="{data}">
      <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">

        <vs-td :data="data[indextr].id">
          {{ data[indextr].schedule_id }}
        </vs-td>

         <vs-td :data="data[indextr].id">
          {{ data[indextr].product_name }}
        </vs-td>

         <vs-td :data="data[indextr].id">
          {{ data[indextr].price }}
        </vs-td>

      <vs-td :data="data[indextr].url">
          <a :href="data[indextr].url">{{data[indextr].url}}</a>
        </vs-td>
      </vs-tr>

    </template>
    
  </vs-table>
  <!-- <vs-pagination :total="40" v-model="selected" :max="13"></vs-pagination> -->
            </div>
      </div>
   
</template>

<script>
	import VueApexCharts from 'vue-apexcharts';
  import vSelect from 'vue-select';
  import 'flatpickr/dist/flatpickr.css';
	export default{
	components:{
		VueApexCharts,
    'v-select': vSelect,
	},	
	data() {
    return {
      marketplace:'',
      popupActive:false,
      scheduleid:'',
      productid:'',
      loggedIn:true,
      table:[],
      selected:1,
      themeColors: ['#7367F0', '#28C76F', '#EA5455', '#FF9F43', '#1E1E1E'],
      lineAreaChartSpline: {
        series: [],
        chartOptions: {
          dataLabels: {
            enabled: false
          },
          stroke: {
            curve: 'smooth'
          },
          colors: this.themeColors,
          xaxis: {
            type: 'datetime',
            categories: [],
          },
          tooltip: {
            x: {
              format: 'dd/MM/yy'
            },

          }
        }
      }
    }
  },
  mounted(){},
  methods:{
  searchMarket:function(){
    if(this.marketplace=="Tokopedia" && this.scheduleid){
      console.log("Tokopedia")
      this.$http.get('crawl-api-tokped/filter/scheduleid/'+this.scheduleid+'/')
      .then((resp) =>{
        // this.table = resp.data
          console.log(resp)
        // for(var i=0;i<) 
          // var i;
          // for(i=0;i<resp.data.length;i++){

          // }
      })
    }else if(this.marketplace=="Shopee" && this.scheduleid){
      this.$http.get('crawl-api-shopee/filter/scheduleid/'+this.scheduleid+'/')
      .then((resp) =>{
        this.table = resp.data
          console.log(this.table)
         for(var i=0;i<10;i++){
          if(this.lineAreaChartSpline.series.some(element=>element.name == resp.data[i].product_name)){
            //pass
          }else{
            var object = {
              name:resp.data[i].product_name,
              data:[]
            }
            if(this.lineAreaChartSpline.series.some(element=>element.name == resp.data[i].product_name)){
              //pass
            }else{
              for(var j=0;j<10;j++){
                if(object.name == resp.data[j].product_name){
                  object.data.push(resp.data[j].price)
                }
              }
            }this.lineAreaChartSpline.series.push(object)
          }
         this.lineAreaChartSpline.chartOptions.xaxis.categories.push(String(resp.data[i].created_at))

          // console.log(data_filter)
          // var i;
        //   for(i=0;i<data_filter.length;i++){
        //       var object = {
        //         name: data_filter[0][i].product_name,
        //         data: [data_filter[0][i].price]
        //       }
        // this.lineAreaChartSpline.series.push(object)
        // this.lineAreaChartSpline.chartOptions.xaxis.categories.push(String(data_filter[0][i].created_at))
   

        //   }
      }})
    }else if(this.marketplace == "Shopee" && this.productid){
        this.$http.get('crawl-api-shopee/filter/productid/'+this.productid+'/')
        .then((resp) => {
          this.table = resp.data.results
          console.log(resp.data.results.length)
          for(var i=0;i<resp.data.results.length;i++){
            if(this.lineAreaChartSpline.series.some(element => element.name == resp.data.results[i].product_name)){
                //pass
            }else{
               var object = {
                name: resp.data.results[i].product_name,
                data: []
              }
              if(this.lineAreaChartSpline.series.some(element => element.name == resp.data.results[i].product_name) ){
              //pass
              console.log("PASS")
              }else{
                for(var j=0;j<resp.data.results.length;j++){
                  if(object.name==resp.data.results[j].product_name){
                    object.data.push(resp.data.results[j].price)
                }
              }
              }
              this.lineAreaChartSpline.series.push(object)
            }
             
              
              this.lineAreaChartSpline.chartOptions.xaxis.categories.push(String(resp.data.results[i].created_at))
          }
    })
  }
},
}

}
</script>