<template>
    <vs-tabs>
        <vs-tab label="Task">
            <div class="tab-text">
                <vs-table :data="task">

                    <template slot="thead">
                        <vs-th>Name</vs-th>
                        <vs-th>Task Type</vs-th>
                        <vs-th>Schedulle</vs-th>
                        <vs-th>Detail</vs-th>
                    </template>

                    <template slot-scope="{data}">
                        <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                            <vs-td :data="data[indextr].name">
                                {{ data[indextr].name }}
                            </vs-td>

                            <vs-td :data="data[indextr].task_type_id">
                                {{ data[indextr].task_type_id }}
                            </vs-td>

                            <vs-td :data="data[indextr].scheduling_type_id">
                                {{ data[indextr].scheduling_type_id}}
                            </vs-td>

                            <vs-td>
                                <vs-button @click="viewTask(data[indextr],indextr)" color="primary" type="border">View Task</vs-button>
                            </vs-td>

                        </vs-tr>
                    </template>

                </vs-table>
            </div>
            <vs-popup class="holamundo" title="Lorem ipsum dolor sit amet" :active.sync="popupActive">
            <vs-table :data="task">

                <template slot="thead">
                    <vs-th>Name</vs-th>
                    <vs-th>Crawl Start</vs-th>
                    <vs-th>Crawl End</vs-th>
                </template>

                <template slot-scope="{data}">
                    <vs-tr>
                        <vs-td>
                            {{name}}
                        </vs-td>
                        <vs-td>
                            {{start}}
                        </vs-td>
                        <vs-td>
                            {{end}}
                        </vs-td>
                    </vs-tr>
                </template>

            </vs-table>
        </vs-popup>
        </vs-tab>
        

    </vs-tabs>
</template>


<script>
	export default{
data(){
	return{
		task:'',
		popupActive: false,
		indextr:0,
		data:'',
		name:'',
		start:'',
		end:'',
	}
	},
	methods:{
		loadTable:function(){
			this.$http.get('task/running/')
			.then((resp)=>{
				// console.log(resp)
				this.task = resp.data.results
			})
		},
		viewTask:function(tasks,index){
			this.$http.get('task/running/detail/'+(index+1))
				.then((resp)=>{
				// console.log(resp)
			this.name = resp.data.name
			this.start = resp.data.crawl_start
			this.end = resp.data.crawl_end
			// this.indextr=index;
			this.popupActive=true;
		console.log(resp.data.name)
			})
		},
		
			
},
	mounted(){
		this.loadTable()
	},
	beforeMount() {
	this.popupActive = false ;
	if(this.isLoading){
		this.$vs.loading()
	}
	},
}
</script>