<template>
   <vx-card title="Crawling" title-color="primary">
  <vs-tabs>
    <vs-tab label="Store">
      <div>
        
         <form>
            <p v-if="errors.length">
                <b>Please correct the following error(s):</b>
                <ul>
                    <li :key="error" v-for="error in errors">{{ error }}</li>
                </ul>
            </p>

            <div class="vx-row ">

                <div class="vx-col mb-2 mt-6">
                    <label for="" class="vs-input--label">Task Type *</label>
                    <vs-input class="inputx" disabled  selected  v-model="task_type_id" :style="{width: loggedIn?'200px':'400px'}"/>
                </div>

                <div class="vx-col mb-2 mt-6 ">
                    <label for="" class="vs-input--label">Task Name *</label>
                    <vs-input class="inputx" v-model="name" />
                </div>

                <div class="vx-col mb-2 mt-6">
                    <label for="" class="vs-input--label">Category </label>
                    <vs-input class="inputx w-full" v-model="category_id" />
                </div>
                <div class="vx-col mb-2 mt-6">
                    <label for="" class="vs-input--label">Schedule *</label>
                    <v-select class="inputx " :options="['Daily','Weekly']" v-model="scheduling_type_id" :style="{width: loggedIn?'200px':'400px'}"></v-select>
                </div>
                 <div class="vx-col mb-2 mt-6">
                    <vs-input  label="Email"  v-model="email" class="inputx w-full"/>
                </div>

            </div>

            <div class="vx-row">

                <div class="vx-col mb-2 mt-4">
                    <label for="" class="vs-input--label">Start Date *</label>
                    <br>
                    <flat-pickr v-model="crawl_start" :style="{width: loggedIn?'200px':'200px'}"></flat-pickr>
                </div>

                <div class="vx-col mb-8 mt-4">
                    <label for="" class="vs-input--label">End Date *</label>
                    <br>
                    <flat-pickr v-model="crawl_end" :style="{width: loggedIn?'200px':'200px'}"></flat-pickr>
                </div>

                <div class="vx-col mb-8 mt-4 ">
                    <label for="" class="vs-input--label">Marketplace *</label>
                    <vs-input class="inputx" v-model="platform" />
                </div>

                <div class="vx-col mb-8 mt-4 ">
                    <label for="" class="vs-input--label">URL *</label>
                    <vs-input class="inputx" v-model="url" />
                </div>
            </div>

            <vs-button type="filled" class="mt-5 block" v-on:click="formSubmit">Submit</vs-button>

        </form>

      </div>
    </vs-tab>
    <vs-tab label="Keyword">
       <form>
            <p v-if="errors.length">
                <b>Please correct the following error(s):</b>
                <ul>
                    <li :key="error" v-for="error in errors">{{ error }}</li>
                </ul>
            </p>

            <div class="vx-row ">

                <div class="vx-col mb-2 mt-6">
                    <label for="" class="vs-input--label">Task Type *</label>
                    <vs-input class="inputx" disabled  v-model="task_type_id_keyword" :style="{width: loggedIn?'200px':'400px'}"/>
                </div>

                <div class="vx-col mb-2 mt-6 ">
                    <label for="" class="vs-input--label">Task Name *</label>
                    <vs-input class="inputx" v-model="name_keyword" />
                </div>

                <div class="vx-col mb-2 mt-6">
                    <label for="" class="vs-input--label">Category </label>
                    <vs-input class="inputx w-full" v-model="category_id_keyword" />
                </div>
                <div class="vx-col mb-2 mt-6">
                    <label for="" class="vs-input--label">Schedule *</label>
                    <v-select class="inputx" :options="['Daily','Weekly']" v-model="scheduling_type_id_keyword" :style="{width: loggedIn?'200px':'400px'}"></v-select>
                </div>
                <div class="vx-col mb-2 mt-6">
                    <vs-input  label="Email"  v-model="email_keyword" class="inputx w-full"/>
                </div>


            </div>

          <div class="vx-row ">
             <div class="vx-col mb-2 mt-4">
                    <label for="" class="vs-input--label">Start Date *</label>
                    <br>
                    <flat-pickr v-model="crawl_start_keyword" :style="{width: loggedIn?'200px':'200px'}"></flat-pickr>
                </div>

                <div class="vx-col mb-8 mt-4">
                    <label for="" class="vs-input--label">End Date *</label>
                    <br>
                    <flat-pickr v-model="crawl_end_keyword" :style="{width: loggedIn?'200px':'200px'}"></flat-pickr>
                </div>

            <div class="vx-col mb-8 mt-4 ">
                    <label for="" class="vs-input--label">Marketplace *</label>
                    <vs-input class="inputx" v-model="platform_keyword" />
            </div>

            <div class="vx-col mb-8 mt-4 ">
                    <label for="" class="vs-input--label">Keyword *</label>
                    <vs-input class="inputx" v-model="keyword" />
            </div>

          </div>
           <vs-button type="filled" class="mt-5 block" v-on:click="formSubmit2">Submit</vs-button>
          </form>
    </vs-tab>
  </vs-tabs>
   </vx-card>
       
    

</template>


<script>
import axios from 'axios';
import flatPickr from 'vue-flatpickr-component';
import 'flatpickr/dist/flatpickr.css';
import vSelect from 'vue-select';
import validate from 'vee-validate'

// axios.defaults.headers.common = {
//     'X-Requested-With': 'XMLHttpRequest',
//     'X-CSRF-TOKEN': window.csrf_token,
// };
// axios.defaults.headers.common['Authorization'] = AUTH_TOKEN;
// axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';


export default {
	data() {
		return {
      isLoading:false,
			category_id: "",
      category_id_keyword: "",
			task_type_id: "Store",
      task_type_id_keyword: "Keyword",
      name:"",
      name_keyword:"",
      crawl_start: null,
      crawl_end: null,
      crawl_start_keyword: null,
      crawl_end_keyword: null,
      scheduling_type_id:"",
      scheduling_type_id_keyword:"",
      url:"",
      platform:"",
      platform_keyword:"",
      keyword:"",
      loggedIn:true,
      email:"",
      email_keyword:"",
      errors:[],
      
      
     
		}
	},
  watch: {
        isLoading: function(){
          if(this.isLoading){
              this.$vs.loading()
          }
          else{
              this.$vs.loading.close()
          }
        }
      },
	methods: {
	formSubmit(){
  this.isLoading=true;
  // axios.defaults.headers.common['Authorization'] = 'Token ' + this.props.auth.getToken(); 
	axios.post('task/',{
		category_id: this.category_id,
		task_type_id: this.task_type_id,
    name:this.name,
    crawl_start: this.crawl_start,
    crawl_end: this.crawl_end,
    scheduling_type_id: this.scheduling_type_id,
    platform: this.platform,
    link:this.url,
    email:this.email,
    
	}).then((response)=> {
   
		console.log(response.status)
      if(response.status == 200){
        this.isLoading=false
        this.$vs.notify({
      color: 'success',
      title: 'Saved Successfully',
      iconPack: 'feather',
      icon:'icon-check',
      text: 'Task Added',
      })
        
      }
        
	})
  this.errors = [];
  if (!this.task_type_id) {
        this.errors.push('Task type required.')}
        else if (!this.name) {
        this.errors.push('Task name required.')}
        else if (!this.crawl_start) {
        this.errors.push('Start Date required.')}
       
    this.name = '';    
    this.category_id = '';
    this.crawl_start = null;
    this.crawl_end = '';
    this.url= '';
    this.platform='';
    this.email='';

		},
 formSubmit2(){
      axios.post('keyword/',{
       category_id:this.category_id_keyword,
       task_type_id:this.task_type_id_keyword,
       name:this.name_keyword,
       scheduling_type_id: this.scheduling_type_id_keyword,
       crawl_start:this.crawl_start_keyword,
       crawl_end:this.crawl_end_keyword,
       platform:this.platform_keyword,
       keyword:this.keyword,
       email_keyword:this.email_keyword,
      }).then(() => {
    this.$vs.notify({
      color: 'success',
      title: 'Saved Successfully',
      iconPack: 'feather',
      icon:'icon-check',
      text: 'Keyword added'
      })
    })
    this.name_keyword = "";
    this.crawl_start_keyword= null;
    this.crawl_end_keyword= null;
    this.task_type_id_keyword= "";
    this.platform_keyword="";
    this.keyword="";
	}

    },
    components: {
        flatPickr,
        'v-select': vSelect,
        'v-validate':validate,
    }
}
</script>

<!-- <template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Vue Axios Post - ItSolutionStuff.com</div>
    
                    <div class="card-body">
                        <form @submit="formSubmit">
                        <strong>Name:</strong>
                        <input type="text" class="form-control" v-model="task_type">
                        <strong>Description:</strong>
                        <input type="text" class="form-control" v-model="category">
    
                        <button class="btn btn-success">Submit</button>
                        </form>
                        <strong>Output:</strong>
                        <pre>
                        {{output}}
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
     
<script>
	import axios from 'axios'
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        data() {
            return {
              
              task_type:'',
              category:'',
              output:''
            };
        },
        methods: {
            formSubmit(e) {
                e.preventDefault();
                // let currentObj = this;
                axios.post('http://localhost:8000/task/', {
                    
                    task_type: this.task_type,
                    category: this.category,
                })
                .then(function (response) {
                    currentObj.output = response.data;
                })
                .catch(function (error) {
                    currentObj.output = error;
                });
            }
        }
    }
</script> -->


<!-- <template>
  <form>
    <div class="vx-row w-1/2">

      <div class="vx-col w-full">
        <vs-input size="large" v-validate="'required|alpha'" placeholder="Your Name" name="name" v-model="name" class="mt-5 w-full" />
        <span class="text-danger text-sm"  v-show="errors.has('name')">{{ errors.first('name') }}</span>
      </div>

      <div class="vx-col w-1/2">
        <vs-input size="large" v-validate="'required|alpha_dash'" placeholder="Your Username" name="username" v-model="username" class="mt-5 w-full" />
        <span class="text-danger text-sm" v-show="errors.has('username')">{{ errors.first('username') }}</span>
      </div>

      <div class="vx-col w-1/2">
        <vs-input size="large" v-validate="'required|email'" placeholder="Your Email" name="email" v-model="email" class="mt-5 w-full" />
        <span class="text-danger text-sm" v-show="errors.has('email')">{{ errors.first('email') }}</span>
      </div>

      <div class="vx-col w-1/2">
        <vs-input type="password" size="large" v-validate="'required|min:6|max:10'" ref="password" placeholder="Your Password" name="password" v-model="password" class="mt-5 w-full" />
        <span class="text-danger text-sm" v-show="errors.has('password')">{{ errors.first('password') }}</span>
      </div>

      <div class="vx-col w-1/2">
        <vs-input type="password" size="large" v-validate="'required|min:6|max:10|confirmed:password'" data-vv-as="password" placeholder="Confirm Password" name="confirm_password" v-model="confirm_password" class="mt-5 w-full" />
        <span class="text-danger text-sm" v-show="errors.has('confirm_password')">{{ errors.first('confirm_password') }}</span>
      </div>
    </div>

    <vs-button type="filled" @click.prevent="submitForm" class="mt-5 block">Submit</vs-button>
  </form>
</template>

<script>
export default {
  data() {
    return {
      name: "",
      username: "",
      email: "",
      password: "",
      confirm_password: "",
    }
  },
  methods: {
    submitForm() {
      this.$validator.validateAll().then(result => {
        if (result) {
          // if form have no errors
          alert("form submitted!");
        } else {
          // form have errors
        }
      })
    }
  },
}
</script> -->