<template>
 <div>
    <vs-table  v-model="selected"  search :data="status">

    <template slot="thead">
      <vs-th sort-key="id">ID</vs-th>
      <vs-th sort-key="name">Name</vs-th>
      <vs-th sort-key="price">Price</vs-th>
      <vs-th sort-key="id">URL</vs-th>
    </template>

    <template slot-scope="{data}">
      <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">

        <vs-td :data="data[indextr].id">
          {{ data[indextr].id }}
        </vs-td>

         <vs-td :data="data[indextr].id">
          {{ data[indextr].name }}
        </vs-td>

         <vs-td :data="data[indextr].id">
          {{ data[indextr].price }}
        </vs-td>

      <vs-td :data="data[indextr].url">
          <a :href="data[indextr].url">{{data[indextr].url}}</a>
        </vs-td>
      </vs-tr>

    </template>
    
  </vs-table>
<vs-pagination :total="50" v-model="paging"></vs-pagination>
 </div>

</template>

<script type="text/javascript">

	// import axios from 'axios';

	export default{
  data(){
    return {
      selected:[],
      status:'',
      paging:1,

    }
  },
  mounted(){
    this.loadQuote();
  },
  methods: {
    loadQuote: function(){  
    this.$http.get('crawl-api-tokped/'+'?page='+this.paging)
      .then(response => {this.status = response.data.results})
     
  
	}    
		},
    watch:{
      paging:function(){
       this.loadQuote()
  
      }
    }
}
</script>


<!-- <script type="text/javascript">

	import axios from 'axios';
	export default{

  created: function() {
    this.loadQuote();
  },
  methods: {
    loadQuote: function(){
      this.status = 'Loading...';
      var vm = this;
      axios.get('http://127.0.0.1:8000/api-tokped/tokopedia/1/')
      .then (function(response){
        vm.status = response.data
        return vm.status
      })
    }
  }
}

</script> -->